
.course-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 14rem);
}
  
  .card-body {
    display: flex;
    flex-direction: column;
  }

  .course-cards .conflicting {
    background-color:rgb(244, 193, 193);
    color: green;
  }
  
  .course-cards .selected {
    background-color:lemonchiffon;
    color: green;
  }


  .btn-outline-dark {
    float: right;
}

